@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 176 100% 13%;
    --primary-foreground: 0 0% 98%;
    --primary-light: 180 27% 71%;
    --secondary: 99 80% 78%;
    --secondary-light: 105 33% 94%;
    --border: 0 0% 89.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 176 100% 13%;
    --primary-foreground: 0 0% 9%;
    --border: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
